/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 28, 2018, 11:45:28 AM
    Author     : Nikola Kotarac
*/



*{
    font-family: 'Roboto', sans-serif;
}

body {

    background-color: whitesmoke;
}

html, body {


    font-size: 15px;
    line-height: 1.5;
}

#personal-info, #languages, p {

    color: #757575;
}

img {

    width: 100%;
    display: block;
}

#full-name {
    max-width: 100%;
    margin-top: -60px;
}

.fa {

    color: #2162b8;
}

#language-switcher-mobile {

    color:#fff;
}

.fa-paper-plane {

    color: #fff;
}


.right-sidebar {
    margin-left: -15px;
    min-height: 400px;
    background-color: #fff;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

.left-sidebar {
    min-height: 800px;
    background-color: #fff;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

h2, h4 {
    color: #d39e00;
}


button {
    background-color: #d39e00 !important;
    border: 2px solid #2162b8 !important;
    border-radius: 2px !important;
    color:white;
}

button:hover {
    opacity: 0.85;
}

input, textarea {

    border: 1px solid #777 !important;
    border-radius: 2px !important;
}

small {

    color: #2162b8 ;
}

label {

    color: #2162b8 !important;
}

.progress {

    border-radius: 10px !important;
    height: 20px !important;
}

.progress-bar {

    width: 0;
    display: none;
}

.bg-info {

    background-color: #2162b8 !important
}

#position, #title {

    color: #757575;
    opacity: 0.7;
}

#language-switcher {
    margin-top: -58px;
    float: right;

}

#language-switcher-mobile {

    position: absolute; 
    top: 0;
}

#language-switcher a {
    color:#2162b8;
}

#language-switcher a:hover {
    color:#d39e00;
}

.divider > hr {

    border: 1px solid #0056b3;

}

form {

    background-color: #fff; 
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);

}


a {

    color: #e9ecef;
    text-decoration: none !important; 

}

#template {

    display: none;
}


/*CONTACT FORM*/ 

.contact-form-success,
.contact-form-warning,
.contact-form-danger {
    padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right 0.5625rem;
    -webkit-background-size: 1.125rem 1.125rem;
    background-size: 1.125rem 1.125rem;
}

.has-success .contact-form-feedback,
.has-success .contact-form-label,
.has-success .col-form-label,
.has-success .form-check-label,
.has-success .custom-control {
    color: #5cb85c;
}

.has-success .contact-form {
    border-color: #218838;
}

.has-success .input-group-addon {
    color: #5cb85c;
    border-color: #5cb85c;
    background-color: #eaf6ea;
}

.has-success .contact-form-success {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%235cb85c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
}

.has-warning .contact-form-feedback,
.has-warning .contact-form-label,
.has-warning .col-form-label,
.has-warning .form-check-label,
.has-warning .custom-control {
    color: #f0ad4e;
}

.has-warning .contact-form {
    border-color: #f0ad4e;
}

.has-warning .input-group-addon {
    color: #f0ad4e;
    border-color: #f0ad4e;
    background-color: white;
}

.has-warning .contact-form-warning {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23f0ad4e' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/%3E%3C/svg%3E");
}

.has-danger .contact-form-feedback,
.has-danger .contact-form-label,
.has-danger .col-form-label,
.has-danger .form-check-label,
.has-danger .custom-control {
    color: #d9534f;
}

.has-danger .contact-form {
    border: 1px solid #CC3B3B;
}

.has-danger .input-group-addon {
    color: #d9534f;
    border-color: #d9534f;
    background-color: #fdf7f7;
}

.has-danger .contact-form-danger {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E");
}

.error {

    display:block;
    width: 100%;
}

.error > *{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #CC3B3B;
    background-image: url("http://static.squarespace.com/universal/images-v6/standard/icon_close_7_light.png");
    background-origin: padding-box;
    background-position: 9px 50%;
    background-repeat: no-repeat;
    background-size: auto auto;
    color: rgb(255, 255, 255);
    display: inline-block;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 6.5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 12px;
    padding-bottom: 4px;
    padding-left: 25px;
    padding-right: 15px;
    padding-top: 3px;

}

.social{
    text-align: center;
    padding: 10px 0 10px 0;

}

footer {

    background-color: #d39e00;

}

footer small {

    color:#fff;
    font-size: 13px;
}


.copyright {
    padding-bottom: 15px;
}

footer p {

    padding-top: 15px;
    margin-bottom: 0 !important;
    color: #fff;
}

#school-link > a {

    color:#2162b8;
}


.skill-holder img {

    filter:gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: -webkit-filter .3s ease-in; 
    -moz-transition: filter .3s ease-in; 
    -ms-transition: filter .3s ease-in; 
    -o-transition: filter .3s ease-in; 
    transition: filter .3s ease-in; 
}

#loading-jobs, #loading-education {

    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: url('../img/ajax/ajax-loader.gif') no-repeat 50%;
    display: none;
}

#works .list-unstyled {

    list-style-type: square;
    list-style-position: inside;
    
}